<div class="language-selector dropdown">
  <button class="btn btn-outline-secondary dropdown-toggle rounded-pill px-3 d-flex align-items-center gap-2" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    <ng-container *ngIf="currentLanguage === 'ar'">
      <span class="d-none d-md-inline">{{ getCurrentLanguageName().split(' ').slice(1).join(' ') }}</span>
      <span class="fs-5">{{ getCurrentLanguageName().split(' ')[0] }}</span>
    </ng-container>

    <ng-container *ngIf="currentLanguage !== 'ar'">
      <span class="fs-5">{{ getCurrentLanguageName().split(' ')[0] }}</span>
      <span class="d-none d-md-inline">{{ getCurrentLanguageName().split(' ').slice(1).join(' ') }}</span>
    </ng-container>
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
    <li *ngFor="let lang of languages">
      <a class="dropdown-item d-flex align-items-center gap-2" href="#" (click)="changeLanguage(lang.code); $event.preventDefault()" 
         [attr.data-lang]="lang.code">
        <ng-container *ngIf="currentLanguage === 'ar'">
          <span>{{ lang.name }}</span>
          <span>{{ lang.flag }}</span>
        </ng-container>
        <ng-container *ngIf="currentLanguage !== 'ar'">
          <span>{{ lang.flag }}</span>
          <span>{{ lang.name }}</span>
        </ng-container>
      </a>
    </li>
  </ul>
</div>
