<div class="language-selector dropdown">
  <button class="btn btn-outline-light dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    {{ getCurrentLanguageName() }}
  </button>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
    <li *ngFor="let lang of languages">
      <a class="dropdown-item" href="#" (click)="changeLanguage(lang.code); $event.preventDefault()">
        {{ lang.flag }} {{ lang.name }}
      </a>
    </li>
  </ul>
</div>
